// Font sizes defining desktop
$largeHeader: 95px;
$mediumHeader: 55px;
$smallHeader: 35px;
$bodyText: 20px;
$navLink: 15px;

//Font sizes mobile
$largeHeaderMobile: 32px;
$mediumHeaderMobile: 25px;
$smallHeaderMobile: 20px;
$bodyTextMobile: 12px;

// :Letter Spacing
$textSpace: 1.5px;

// Font Families
$mainFont: "Inter", san-serif;

//font Weights
$bold: 700;
