@charset "UTF-8";
/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.fixedPosition {
  position: fixed;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  display: block;
  background-color: #7e61be;
  justify-content: center;
  align-items: center;
  margin: 20px 25px 10px 25px;
  padding-bottom: 25px;
  border-radius: 30px;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .container-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.item {
  border-radius: 30px;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", san-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navigationBox {
  background-color: #d92b04;
  display: flex;
  justify-content: space-between;
}
#navigationBox input {
  padding-left: 10px;
  height: 55px;
  width: 280px;
  border-radius: 50px;
  border-style: none;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-align: center;
}

#navLogo {
  padding: 15px;
  display: none;
}
#navLogo img {
  height: 35px;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

nav {
  display: block;
}
nav ul {
  height: 100vh;
  list-style: none;
  padding-left: 0em;
}

nav ul li {
  height: 20%;
}

nav li:nth-of-type(1) {
  background-color: #7e61be;
}

nav li:nth-of-type(2) {
  background-color: #0487d9;
}

nav li:nth-of-type(3) {
  background-color: #038b73;
}

nav li:nth-of-type(4) {
  background-color: #f29f05;
}

nav li:nth-of-type(5) {
  background-color: #d92b04;
}

nav li a {
  letter-spacing: 0.4rem;
  font-size: 2rem;
  font-weight: 700;
}
nav li a:hover, nav li a :active {
  transform: scale(1.1);
}

nav li a:hover:after {
  content: "→";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-left: 1rem;
}

.overlay {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.557);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/********************************************************************************/
/* NAVIGAATION SLIDE IN ANIMATION */
/********************************************************************************/
.slide-in-1 {
  animation: side-in 0.2s linear 0.2s both;
}

.slide-in-2 {
  animation: side-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: side-in 0.6s linear 0.6s both;
}

.slide-in-4 {
  animation: side-in 0.8s linear 0.8s both;
}

.slide-in-5 {
  animation: side-in 1s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/********************************************************************************/
/* NAVIGAATION SLIDE OUT ANIMATION */
/********************************************************************************/
.slide-out-1 {
  animation: slide-out 0.5s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.4s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.2s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.1s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transfrom: translateX(0);
  }
  to {
    transfrom: translateX(-100%);
  }
}
.hamburger-menu {
  margin: 15px;
  margin-top: 10px;
  right: 1rem;
  z-index: 10;
  cursor: pointer;
}

.menu-bar1, .menu-bar2, .menu-bar3 {
  width: 3.5rem;
  height: 0.2rem;
  background-color: #fff;
  margin: 0.8rem 0;
  transition: 0.5s;
}

.menu-bar2 {
  width: 2rem;
  margin-left: auto;
}

.active .menu-bar1 {
  transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
}

.active .menu-bar2 {
  opacity: 0;
}

.active .menu-bar3 {
  transform: rotate(45deg) translate(-0.7rem, -0.7rem);
}

.swiper-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
}

.product-img {
  height: 60%;
}

.product-title {
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: 700;
}

.product-price {
  font-size: 12px;
  margin-bottom: 0px;
}

.product-button {
  border-style: none;
  border-radius: 50px;
  font-style: normal;
  box-shadow: 0px 15px 20px -20px #000;
  padding: 13px;
  text-transform: uppercase;
  width: 100%;
  background-color: #d92b04;
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  margin-top: 20px;
  background-color: white;
}

.swiper-button-next,
.swiper-button-prev {
  color: #d92b04;
  font-weight: 700;
  --swiper-navigation-sides-offset: 40px;
}

#footer-dark {
  margin-top: 20px;
  background-color: #9c2105;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "reL yelloL greeL bluL purpL logo purpR bluR greeR yelloR reR";
}
#footer-dark #purple {
  height: 13px;
  margin: auto 0;
  background-color: #7e61be;
  grid-area: purpL;
}
#footer-dark #blue {
  height: 13px;
  margin: auto 0;
  background-color: #0487d9;
  grid-area: bluL;
}
#footer-dark #green {
  height: 13px;
  margin: auto 0;
  background-color: #038b73;
  grid-area: greeL;
}
#footer-dark #yellow {
  height: 13px;
  margin: auto 0;
  background-color: #f29f05;
  grid-area: yelloL;
}
#footer-dark #red {
  height: 13px;
  margin: auto 0;
  background-color: #d92b04;
  grid-area: reL;
}
#footer-dark #purpleR {
  height: 13px;
  margin: auto 0;
  background-color: #7e61be;
  grid-area: purpR;
}
#footer-dark #blueR {
  height: 13px;
  margin: auto 0;
  background-color: #0487d9;
  grid-area: bluR;
}
#footer-dark #greenR {
  height: 13px;
  margin: auto 0;
  background-color: #038b73;
  grid-area: greeR;
}
#footer-dark #yellowR {
  height: 13px;
  margin: auto 0;
  background-color: #f29f05;
  grid-area: yelloR;
}
#footer-dark #redR {
  height: 13px;
  margin: auto 0;
  background-color: #d92b04;
  grid-area: reR;
}
#footer-dark #footer-logo {
  grid-area: logo;
  margin: 20px 25px;
}

#links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #d92b04;
}

.link-heading {
  font-weight: 700;
  text-align: center;
  color: white;
  margin: 20px 0;
  font-size: 2.6vw;
  display: block;
}

.link {
  text-align: center;
  color: white;
  margin: 20px 0;
  font-size: 2.2vw;
  display: block;
}

#mobile-logo {
  background-color: #d92b04;
}
#mobile-logo img {
  margin: 15px;
  width: 60px;
}

/************************************/
/* Hero Section */
#hero-container {
  background-color: #0487d9;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 20px 25px 10px 25px;
  padding-bottom: 25px;
  border-radius: 30px;
}

#hero {
  margin-top: 20px;
  width: 90%;
}

#hero-text {
  padding-top: 50px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-style: italic;
}

#hero-header {
  font-size: 32px;
  font-weight: 700;
}

#hero-body {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#hero-cta {
  border-style: none;
  border-radius: 50px;
  font-style: normal;
  box-shadow: 0px 15px 20px -20px #000;
  padding: 13px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  background-color: white;
  color: black;
  width: 80%;
}

.newProductsHeading {
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

#categories {
  background-color: #f29f05;
}

#event-exclusives {
  background-color: #038b73;
}

#product-grid .item,
#center-grid .item,
#shop-grid .item {
  text-align: center;
  padding: 0;
  gap: 10px;
}
#product-grid .item img,
#center-grid .item img,
#shop-grid .item img {
  width: 90%;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 15px 20px -20px #000;
}
#product-grid .item h3,
#center-grid .item h3,
#shop-grid .item h3 {
  font-size: 4vw;
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
}

#product-grid {
  display: grid;
  grid-template-columns: repeat(2, 0.8fr);
}

.center-grid {
  display: grid;
  grid-template-columns: 1fr;
}

#category-button {
  border-style: none;
  border-radius: 50px;
  font-style: normal;
  box-shadow: 0px 15px 20px -20px #000;
  padding: 13px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
  background-color: white;
  color: black;
  width: 80%;
}

@media only screen and (min-width: 992px) {
  #hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-areas: "txt txt img";
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 100px 0;
  }
  #hero-text {
    grid-area: txt;
    text-align: left;
    padding: 70px;
  }
  #hero {
    grid-area: img;
    margin-top: 20px;
    width: 80%;
    padding-left: 10%;
  }
  #hero-header {
    font-size: 55px;
    font-weight: 700;
    margin-left: 25px;
  }
  #hero-body {
    font-size: 35px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
  }
  #hero-cta {
    border-style: none;
    border-radius: 50px;
    font-style: normal;
    box-shadow: 0px 15px 20px -20px #000;
    padding: 13px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    color: black;
    width: 50%;
    margin-left: 25px;
  }
  .newProductsHeading {
    font-size: 55px;
  }
  #product-grid .item,
  #center-grid .item {
    text-align: center;
    padding: 0;
    gap: 20px;
  }
  #product-grid .item img,
  #center-grid .item img {
    width: 70%;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 15px 20px -20px #000;
  }
  #product-grid .item h3,
  #center-grid .item h3 {
    font-size: 1.7vw;
    font-weight: 700;
    color: white;
    margin: 0;
    padding: 0;
  }
  #product-grid {
    display: grid;
    grid-template-columns: repeat(4, 0.8fr);
  }
  .center-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  #category-button {
    border-style: none;
    border-radius: 50px;
    font-style: normal;
    box-shadow: 0px 15px 20px -20px #000;
    padding: 13px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
    background-color: white;
    color: black;
    width: 40%;
  }
  .link-heading {
    font-size: 1vw;
  }
  .link {
    font-size: 0.7vw;
  }
}
#shop-header {
  text-transform: uppercase;
}
#shop-header h2 {
  padding: 20px 25px 0 25px;
}
#shop-header h1 {
  padding-left: 25px;
  font-weight: 700;
}
#shop-header button {
  margin-left: 25px;
  margin-top: 7px;
  background-color: #9c2105;
  color: white;
  font-weight: 700;
  font-size: 12px;
}

#filter {
  width: 30%;
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 15px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 15px 20px -20px #000;
}

#shop-grid {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 10px;
  width: 90%;
  margin: none;
}
#shop-grid .item {
  background-color: rgb(200, 200, 200);
  margin: 0 auto;
  margin-top: 20px;
}
#shop-grid .item .product-title {
  padding-left: 10px;
  padding-right: 10px;
}
#shop-grid .item .product-img {
  box-shadow: none;
  height: 50%;
}

.product-button {
  width: 100%;
}